.menu{
    background-image: url(../../img/bg-pattern.jpg);
    background-repeat: repeat;
    padding: 100px 11%;
    margin: 0 auto;
}
.menu_header{
    display: flex;
    justify-content: center;
}
.menu-a-table{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    letter-spacing: 1px;
    padding: 10px 10px;
    margin: 0 7px;
}
.menu_content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.menu_item{
    margin-right: 10px;
}
.menu_item img{
    transition: filter 0.3s ease;
    box-sizing: border-box;
}
.menu_item img:hover {
    filter: brightness(70%);
}